@model IEnumerable<PatenPottery.ViewModels.OrderListViewModel>

@{
    ViewData["Title"] = "Order List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <a class="btn btn-primary" asp-action="Create">Create Order</a>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <h1>Orders</h1>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Name</th>
                            <th>Number</th>
                            <th>Address</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Order Number</th>
                            <th>Name</th>
                            <th>Number</th>
                            <th>Address</th>
                            <th>Status</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var order in Model)
                        {
                            <tr>
                                <td>
                                    <a asp-controller="OrderDetail" asp-action="ViewOrder" asp-route-orderNum="@order.OrderNumber">
                                        @order.OrderNumber
                                    </a>
                                </td>
                                <td>@order.Name</td>
                                <td>@order.Number</td>
                                <td>@order.Address</td>
                                <td>@order.Status</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
