@model PatenPottery.ViewModels.OrderListViewModel

@{
    ViewData["Title"] = "View Order";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <h1>Order Details</h1>

                <div class="form-group">

                    <p class="form-control-static"><label>Order Number</label> : @Model.OrderNumber</p>
                </div>
                <div class="form-group">

                    <p class="form-control-static"><label>Name</label> : @Model.Name</p>
                </div>
                <div class="form-group">

                    <p class="form-control-static"><label>Number</label> : @Model.Number</p>
                </div>
                <div class="form-group">

                    <p class="form-control-static"><label>Address</label> : @Model.Address</p>
                </div>
                <div class="form-group">
                    <label for="status">Status:</label>
                    <select class="form-control dropdownMid" id="status" name="status" onchange="updateStatus()" style=" width: fit-content;">
                        <option value="Pending">@Model.Status</option>
                        <option value="Processing">FireDone</option>
                        <option value="Completed">GlazeDone</option>
                    </select>
                </div>
                <div class="form-group">

                    @{
                        string imgSrc = string.Empty;
                        if (Model.Image != null && Model.Image.Length > 0)
                        {
                            var Image = Model.Image;
                            imgSrc = $"data:image/jpg;base64,{Image}";
                        }
                        // else
                        // {
                        //     var imgSrc = "/path/to/default/image.png";
                        // }
                    }
                    <p class="form-control-static">
                        <label>Image</label> :
                    <p>
                        <img src="@imgSrc" alt="Order Image" class="img-fluid viewImageSmall" style="max-width: 200px !important; height: auto;" />
                    </p>
                    </p>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->